<style>
    .row1{
      color: red;
    }
</style>
{% extends "blog/base.html" %}
{% block p1 %}

<table>
  {% for post in post_list %}
   <tr>
      <td class="{% cycle 'row1' 'row2' 'row3' %}">
        {{ post.title }}    {% comment "comm_1" %}cocomementnt{% endcomment %}
      </td>
   </tr>
   {% endfor %}
</table>
{% endblock %}
{% block p2 %}
{% spaceless %}
<p>
What time is it?
</p>
<p>
  It is {% now "jS F Y H:i" %}
</p> 
{% url 'localhost:8000/admin/' as the_url %}
Go to
{% if the_url %}
<a href="{{the_url}}">Admin Page</a>
{% endif %}
{% endspaceless %}
{% endblock %}
<!--
{% block p3 %}
<table>
  {% for poke in poke_list %}
   <tr>
      <td class="{% cycle 'row1' 'row2' 'row3' %}">
        {{ poke.name }}    
      </td>
   </tr>
   {% endfor %}
</table>
{% endblock %}
-->
